# Node sections (inutile pour PHP)
node_modules/
dist/

# Fichiers de logs & IDE
*.log
.idea/
.vscode/
.DS_Store

# Environnement local / secrets
.env
.env.local
.env.*.local

# Cache, builds et dépendances externes
/var/
/vendor/

/public/bundles/

# Clés privées JWT
/config/jwt/*.pem

# Git
.git
.gitignore

# Symfony Flex & recettes
# (on n’embarquera pas le dossier recipes.json ou les fichiers dev locaux)
/recipes.json

# Tests, fixtures (si vous ne voulez pas les embarquer) 
/tests/
/fixtures/